* {
    font-family: Georgia;
    box-sizing: border-box;
}

.header{
    height: 100px;
    background-color: hsla(190, 81%, 70%, 0.5);
    border-bottom: 2px double black;
}

body {
    margin: 0;
    background-color: lightgray;
}

.title-jorge {
    text-align: center;
    width: 250px;
    margin: 0px auto;
    padding-top: 15px;
}

.month {
    text-align: center;
    margin-top: 6px;
}

.top-movies,
.top-hobbies,
.goals {
    border: 1px solid black;
    padding: 10px; /* Add some padding inside the border */
    margin-bottom: 20px; /* Add some spacing between sections */
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 32px;
}

.h2header {
    text-align: center;
}

.flex-container section {
    background-color: #F9F5EB;
}

@media (max-width: 768px) {
    .flex-container {
        flex-direction: column; /* Stack sections vertically on small screens */
    }

    .top-movies,
    .top-hobbies,
    .goals {
        width: 100%; /* Take full width of the screen on small devices */
    }
}


